<!DOCTYPE html>
<html lang="en">
   
    <%- include('../partials/head.ejs') %> 

    <body>
    
    <%- include('../partials/header.ejs') %> 


    <main>



        <div class="portada">
            <img src="/img/covers/fifa22.jpeg" alt="FIFA 22 - PS4" class="portada-b">
        </div>

        <div class="container">
            <div class="DyC">
                <h2>Descripción</h2>
                <table class="standard-table">
                    <tbody>
                        <tr>
                            <th>Descripción</th>
                            <td>Simulador de fútbol multijugador ¡Compralo ahora y jugá con tus amigos!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="DyC">
                <h2>Características principales</h2>
                <table class="standard-table">
                    <tbody>
                        <tr>
                            <th>Título</th>
                            <td>FIFA 22</td>
                        </tr>
                        <tr>
                            <th>Año</th>
                            <td>2021</td>
                        </tr>
                        <tr>
                            <th>Consola</th>
                            <td>Playstation</td>
                        </tr>
                        <tr>
                            <th>Formato</th>
                            <td>Digital</td>
                        </tr>
                    </tbody>
            
                </table>


                        <h3>$11.800</h3>



                    <a href="/productCart"><button class="carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </button></a>

            </div>
        </div>
        
    
            <img  src="/img/banner-mercadopago-horizontal.jpeg" alt="MP!" class="responsive">
        





    </main>

    <%- include('../partials/footer.ejs') %> 
    
    
    
    </body>
    
    
    
    
    
    </html>
</body>
</html>