<!DOCTYPE html>
<html lang="en">
   
    <%- include('../partials/head.ejs') %> 

    <body>
    
    <%- include('../partials/header.ejs') %>

<main>
         
    <h2>Cargar Nuevo Producto</h2>
    
    <form>

        <p><label for="myfile">Cargar imagen:</label>
        <input type="file" id="myfile" name="myfile"><br><br></p>

        <p><label for="fname">Descripcion:</label><br>
        <input type="text" id="fname" name="fname"><br></p>
        <p><label for="lname">Nombre:</label><br>
        <input type="text" id="lname" name="lname"></p>
        <p><label for="fname">Precio:</label><br>
        <input type="text" id="fname" name="fname"><br></p>
        <p><label for="lname">Consola:</label><br>
        <input type="text" id="lname" name="lname"><br></p>
        <p><label for="lname">Categoria:</label><br>
        <input type="text" id="lname" name="lname"></p>
        <p><label for="lname">Cuotas:</label><br>
        <input type="text" id="lname" name="lname"></p>
        <p><input type="submit" value="Enviar"></p>
    </form>

</main>



<%- include('../partials/footer.ejs') %> 



</body>





</html>
</body>
</html>