<!DOCTYPE html>
<html lang="en">
   
    <%- include('../partials/head.ejs') %> 

    <body>

    <%- include('../partials/header.ejs') %>

<main class="fixed">
         
    <div class="containerreg">
    <h2 class="formulario">Cargar Nuevo Producto</h2>
    
    <form action="/products" method="POST" enctype="multipart/form-data">

        <p><label for="imagenProducto">Imágen:</label><br></p>
        <input type="file" id="imagenProducto" name="imagenProducto">
        <p><label for="descripcion" class="datos">Descripcion:</label><br>
        <input type="text" id="descripcion" name="descripcion"><br></p>
        <p><label for="nombre" class="datos">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"></p>
        <p><label for="precio" class="datos">Precio:</label><br>
        <input type="text" id="precio" name="precio"><br></p>
        <p><label for="categoria" class="datos">Categoría:</label><br>
        <input type="text" id="categoria" name="categoria"><br></p>
        <p><label for="cuotas" class="datos">Cuotas:</label><br>
        <input type="text" id="cuotas" name="cuotas"></p>
        <p><input type="submit" class="regres" value="Enviar"></p>
    </form>

</div>
</main>

</body>
<%- include('../partials/footer.ejs') %> 
</html>