<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Importo fonts  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
   <!-- ------ -->

   <!-- font-family: 'Lato', sans-serif; -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/styles-home.css">
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/styles-productCart.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamerhouse</title>

</head>





<body>


    <header class = "main-header">


    <nav class="main-navbar">

        <ul class="left-navbar">
            <li class="burger-menu"><a href=""><i class="fas fa-bars"></i></a></li>
            <div class="div-logo">
                <i><img src="GamerHouse-Logo" alt="welcome home gamers ;-)" class="responsive-logo"></i>
                </div>

        </ul>

        <ul class ="center-navbar">
        <li><input class="input-nav" placeholder="Buscá tu producto...">  <i class="fas fa-search"></i></li>
        </ul>

        <ul class="right-navbar">

            <li><a href="/login"><i class="far fa-user-circle"></i></a></li>
            <li><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></li>
 
        </ul>
    </nav>
    </header>
    <main>



    <section>

        <h2>MI COMPRA</h2>
        
        <h3>MI CARRITO</h3>

        <img src="img/covers/fifa22.jpeg" alt="FIFA 22 - PS4" class="responsive">

        <p><input type="text" id="nombre" name="nombre" value="Nombre del Prodducto" readonly></p>

        <p><input type="text" id="valor" name="total" value="Total: $----" readonly></p>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Cantidad</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>

          

        <h3>DATOS ENVIO</h3>
        <form>
            <div class="form-group">
              
              <p><input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y Apellido"></p>
              <p></p><input type="name" class="form-control" id="exampleFormControlInput1" placeholder="DNI"></p>
              <p></p><input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Telefono de Contacto"></p>
              <p></p><input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Direccion"></p>
              <p></p><input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Localidad"></p>
              <p></p><input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Codigo Postal"></p>

            </div>
        </form>

        <h3>PAGO</h3>
        
        <form>
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Metodo de Pago</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Seleccione...</option>
                  <option value="1">MercadoPago</option>
                  <option value="2">Tarjeta de Credito/Debito</option>
                  <option value="3">Rapipago/PagoFacil</option>
                </select>
              </div>
        </form>      

        <p><button type="button" class="btn btn-primary btn-lg btn-block">CONFIRMAR</button></p>

    </section>





    </main>
    <p><footer class="main-footer">


       <div class="div-footer">
    
    
            <ul class="left-footer">
    
                <li><h4>Seguinos!</h4></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook"></i></li>
    
            </ul>
    
            <ul class="center-footer">
    
                <li><h4>Contactanos</h4></li>
                <li><i class="fas fa-phone"></i></li>
                <li><i class="far fa-envelope"></i></li>
                
    
            </ul>
    
            <ul class="right-footer">
                <li><h4>Newsletter</h4></li>
                <li><i class="fas fa-rss-square"></i></a></li>
     
            </ul>
        </div>
    
    
    
        </footer></p>
    
    
    
    </body>
    
    
    
    
    
    </html>
