<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    
        <!-- Importo fonts  -->
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
       <!-- ------ -->
    
       <!-- font-family: 'Lato', sans-serif; -->
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="css/styles-home.css">
        <link type="text/css" rel="stylesheet" href="css/styles-login.css">
        <link type="text/css" rel="stylesheet" href="css/styles-register.css">
        <link type="text/css" rel="stylesheet" href="css/normalize.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gamerhouse</title>
    
    </head>

<body>
    

 <header class = "main-header">


    <nav class="main-navbar">

        <ul class="left-navbar">
            <li class="burger-menu"><a href=""><i class="fas fa-bars"></i></a></li>
            <div class="div-logo">
                <i><img src="img/logo.png" alt="welcome home gamers ;-)" class="responsive-logo"></i>
                </div>

        </ul>

        <ul class ="center-navbar">
        <li><input class="input-nav" placeholder="Buscá tu producto...">  <i class="fas fa-search"></i></li>
        </ul>

        <ul class="right-navbar">

            <li><a href="/login"><i class="far fa-user-circle"></i></a></li>
            <li><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></li>
 
        </ul>
    </nav>



    </header>








    <main>

        <h3>Formulario de registro</h3>

        <form class="form-login" action="/" method="POST"> 

            <h4>Datos de la cuenta</h4>
       
            <form class="form-registro" action="/" method="POST">
    
            <div class="div-input">
            <label for="nomape">
             <input type="text" required pattern=".{3,100}" placeholder="Nombre y apellido" name="nomape" id="nomape">
            </label>
        </div>
    
            <div class="div-input">
            <label for="username">
                <input type="text" required pattern=".{3,100}" placeholder="Nombre de usuario" name="username" id="username">
            </label>
            </div>    
    
            <div class="div-input">
            <label for="email">
            <input type="email" required placeholder="e-mail" name="email" id="email">
            </label>
            </div>
    
            <h4>Fecha de nacimiento</h4>
            
            <div class="div-input">
                <label for="fechanac">
                 <input type="date"  required name="nomape" id="nomape">
                </label>
            </div>
    
            <h4>Domicilio</h4>
            
            <div class="div-input">
                <label for="calle">
                 <input type="text"  placeholder="Calle" required name="calle" id="calle">
                </label>
            </div>

            <div class="div-input">
                <label for="altura">
                 <input type="text"   placeholder="Altura" required name="altura" id="altura">
                </label>
            </div>

            <div class="div-input">
                <label for="piso">
                 <input type="text"   placeholder="Piso" required name="piso" id="piso">
                </label>
            </div>

            <div class="div-input">
                <label for="depto">
                 <input type="text"   placeholder="Departamento" required name="depto" id="depto">
                </label>
            </div>


            <div class="div-input">
                <label for="codpost">
                 <input type="text"  placeholder="Código postal" required name="codpos" id="codpos">
                </label>
            </div>
    
            <h4>Contraseña</h4>
    
            <div class=div-input>
                <label for="password">
                    <input type="password"  name="pasword" id="password" placeholder="Contraseña">
                </label>
            </div>
    
            <div class=div-input>
                <label for="confirma-password">
                    <input type="password"  name="confirma-pasword" id="confirma-password" placeholder="Confirmar contraseña">
                </label>
            </div>
    
            <div class="div-botones">
           
                <div class=div-input>
                <label for="boton-enviar">
                    
                    <button type="submit">Registrarme</button>
    
                </label>
            </div>
    
            <div class=div-input>
                <label for="boton-reset">
                    <button type="reset">Restablecer</button>
                </label>
            </div>
    
    
         </div>
    
    
        </form>

    </main>


    <footer class="main-footer">


        <div class="div-footer">
    
    
            <ul class="left-footer">
    
                <li><h4>Seguinos!</h4></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook"></i></li>
    
            </ul>
    
            <ul class="center-footer">
    
                <li><h4>Contactanos</h4></li>
                <li><i class="fas fa-phone"></i></li>
                <li><i class="far fa-envelope"></i></li>
                
    
            </ul>
    
            <ul class="right-footer">
                <li><h4>Newsletter</h4></li>
                <li><i class="fas fa-rss-square"></i></a></li>
     
            </ul>
        </div>
    
    
    
        </footer>
</body>


</html>