.responsive-logo {
    height: auto;
    width: 90px;
    display: flex;
}

.responsive {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

.input-nav {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
}



.main-navbar {

    display: flex;
    justify-content: space-between;
    align-self: center;
}

.burger-menu {
    margin-top: 13%;
    margin-right: 5%;
}

.right-navbar {
    align-self: center;
}

.left-navbar {

    align-self: center;
}

.carrito {
    color: green;
}

.center-navbar {
    width: 40%;
    justify-content: center;
    align-self: center;
}

.center-navbar ul {
    display:flex;
}

.main-navbar a {

   text-decoration: none;
   display: inline-block;
   padding: 5px 5px;
   font-size: 25px;
   color: #222A2C;

}

.main-navbar ul {

    text-decoration: none;
    display:flex;
    list-style: none;
    margin: 0%;
    padding: 0;
    
    }

.main-header {

    background-color: #E05D5D;
    border: solid #E05D5D;
    margin: 0%;
    padding-bottom: 0px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.lupita {
    border-radius: 5px;
    width: 30px;
    height: auto;
    display: flex;
}


.main-header-top-bar {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-entregando {

    background-color: #FFB344 ;
}

.img-carousel-principal{

    width: 100%;
    height: auto;
}

.carousel-novedades {

box-sizing: border-box;
padding:0px;
margin:0;

}

.juegos-destacados {

    padding-inline: 0;
    margin-inline:0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}

.box-articulos {

    display:flex;
    flex-wrap: wrap;
    justify-content:  center;
    height: auto;
    
    }




.div-detalles-articulo {

    display:flex;
    justify-content: space-between;
    padding-inline: 20px; 
    border: 2px solid #2c2c2c;
    border-radius: 10px;
    background-color: #ECF0F1;
 
}

article {

    border: 2px solid white;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 10px;

}


.logo-envio {

    color: #39b54a;
    display: block;
    position:absolute;
    font-size: 16px;
    padding: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: #fff;
    right:5px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: -30px;
      
    }

    .precio {
        color: gray;
    }

    .precio-carrito {

        display:flex;
        justify-content: space-between;
    
    }
    

    .section-destacados h2 {
        font-size: 20px;
        font-weight: 800;
    }

    .section-marcas h2 {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
    }

    .div-imagenes-marcas {

        margin: auto;

    }

    .div-imagenes-marcas ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        
    }

    .div-imagenes-marcas li {
        border-radius: 10px;  
    }


    .pagos-envios {

        margin-top: 10px;
 

    }

    .div-envios{
        padding: 10px;
        margin-top: 30px;
        text-align: center;
        
    } 

    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
      }

    .div-envios div {

        color:brown;
        font-size: 20px;
        border: 3px solid brown;
        border-radius: 50%;
        padding: 5px;
        width: 40px;
        height: 40px;
        background-color: white ;
        text-align: center;
    }

    .div-envios h3 {

        margin-top: 4px;

    }

    .main-footer {

        background-color: #E05D5D;
        border: solid #E05D5D;
        margin: 0%;
        padding: 10px;
        padding-bottom: 0px;
        box-sizing: border-box;
    
    }

    .div-footer {

        display:flex;
        justify-content: space-between;


    }

    .div-footer ul {

        text-align: center;
        text-decoration: none;
        list-style: none;
        margin: 0%;
        padding: 0;

    }

    .div-footer h4 {

        margin-top: 0;
        margin-bottom: 5px;
        padding:0;

    }

    .div-footer i {

        padding: 4px;
        font-size: 20px;
    }

.left-footer {
    display: flex;
    flex-direction: row;
}

.center-footer {
    display: flex;
    flex-direction: row;
}

.right-footer {
    display: flex;
    flex-direction: row;
}

.brands {
    width: 100%;
}


body {

    font-family: 'Lato' , sans-serif;
    margin:auto;
    margin-top: 0;
    padding-top: 0;
    background-color: #F5F5F5;
    box-sizing: border-box;
    color: #222A2C;

}

main {

display:block;
margin-left: auto;
margin-right: auto; 

box-sizing: border-box;

}