<header class = "main-header">

    <nav class="main-navbar">

        <ul class="left-navbar">
            <li class="burger-menu"><a href=""><i class="fas fa-bars"></i></a></li>
            <div class="div-logo">
                <i><img src="/img/GamerHouse-Logo.svg" alt="welcome home gamers ;-)" class="responsive-logo"></i>
                </div>

        </ul>

        <ul class ="center-navbar">
        <li><input class="input-nav" placeholder="Buscá tu producto...">  <i class="fas fa-search"></i></li>
        </ul>

        <ul class="right-navbar">

            <li><a href="users/login"><i class="far fa-user-circle"></i></a></li>
            <li><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></li>
 
        </ul>
    </nav>



    </header>