<!DOCTYPE html>
<html lang="en">
  
    <%- include('../partials/head.ejs') %> 

    <body>
    
    <%- include('../partials/header.ejs') %> 




    <main>

        <h3>Ingresá a tu cuenta</h3>

        <form class="form-login" action="/" method="POST"> 

            <div class="div-input">
                <label for="user">
                 <input type="text" pattern=".{3,100}" placeholder="Usuario" name="user" id="user">
                </label>
            </div>
        
                <div class="div-input">
                <label for="password">
                    <input type="text" placeholder="Password" name="password" id="password">
                </label>
            </div>    
            
            <div class="div-recordar-password">

                <h4> Recordar contraseña </h4><input type="checkbox" name="recordar-password" name="recordar-password" id="recordar-password" >



            </div>


            <div class=div-boton>
                <label for="boton-enviar">
                    
                    <button class="boton-ingresar" type="submit">Ingresar</button>
    
                </label>
            </div>
        
        </form>

        <h4><a href="/">Olvidé mi contraseña</h4></a>
            <br>
        <h4><a href="/register">No tenés cuenta? Registrate!</h4></a>

    </main>


    <%- include('../partials/footer.ejs') %> 


</body>


</html>