<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

    <body>
    
    <%- include('../partials/header.ejs') %> 



    <main class="fixed">

    <div class="containerreg">

        <h3 class="formulario">Formulario de registro</h3>

        <form class="form-login" action="/" method="POST"> 

            <h4 class="datos">Datos de la cuenta</h4>
       
            <form class="form-registro" action="/" method="POST">
    
            <div class="div-input">
            <label for="nomape">
             <input type="text" required pattern=".{3,100}" placeholder="Nombre y apellido" name="nomape" id="nomape">
            </label>
        </div>
    
            <div class="div-input">
            <label for="username">
                <input type="text" required pattern=".{3,100}" placeholder="Nombre de usuario" name="username" id="username">
            </label>
            </div>    
    
            <div class="div-input">
            <label for="email">
            <input type="email" required placeholder="e-mail" name="email" id="email">
            </label>
            </div>
    
            <h4 class="datos2">Fecha de nacimiento</h4>
            
            <div class="div-input">
                <label for="fechanac">
                 <input type="date"  required name="nomape" id="nomape">
                </label>
            </div>
    
            <h4 class="datos2">Domicilio</h4>
            
            <div class="div-input">
                <label for="calle">
                 <input type="text"  placeholder="Calle" required name="calle" id="calle">
                </label>
            </div>

            <div class="div-input">
                <label for="altura">
                 <input type="text"   placeholder="Altura" required name="altura" id="altura">
                </label>
            </div>

            <div class="div-input">
                <label for="piso">
                 <input type="text"   placeholder="Piso" required name="piso" id="piso">
                </label>
            </div>

            <div class="div-input">
                <label for="depto">
                 <input type="text"   placeholder="Departamento" required name="depto" id="depto">
                </label>
            </div>


            <div class="div-input">
                <label for="codpost">
                 <input type="text"  placeholder="C칩digo postal" required name="codpos" id="codpos">
                </label>
            </div>
    
            <h4 class="datos2">Contrase침a</h4>
    
            <div class=div-input>
                <label for="password">
                    <input type="password"  name="pasword" id="password" placeholder="Contrase침a">
                </label>
            </div>
    
            <div class=div-input>
                <label for="confirma-password">
                    <input type="password"  name="confirma-pasword" id="confirma-password" placeholder="Confirmar contrase침a">
                </label>
            </div>
    
            <div class="div-botones">
           
                <div class=div-input>
                <label for="boton-enviar">
                    
                    <button type="submit" class="regres">Registrarme</button>
    
                </label>
            </div>
    
            <div class=div-input>
                <label for="boton-reset">
                    <button type="reset" class="regres">Restablecer</button>
                </label>
            </div>
    
    
         </div>
        
    
        </form>
    </div>
    </main>

    <%- include('../partials/footer.ejs') %> 

</body>


</html>